body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="checkbox"] {
  margin-right: 5px;
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}
legend {
  font-weight: bold;
}
.submit-btn {
  display: block;
  margin: 0 auto;
  background-color: #b59eee;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
}
.submit-btn:hover {
  background-color: purple; /* Maintain the same background color when hovered */
  /* Optionally, you can change other styles such as text color or add effects */
}

.container {
  border: 2px solid #ccc; /* Border color and size */
  border-radius: 10px; /* Optional: Add rounded corners */
  padding: 10px; /* Adjusted padding */
  margin-bottom: 20px; /* Optional: Add space between multiple form containers */
  display: flex;
  flex-direction: row; /* Lay out items in a row */
}
.form-container {
  margin-right: 10px;
}

.form-container,
.result-container {
  flex: 1; /* Each half takes up equal space */
  padding: 5px; /* Optional: Add padding */
}
.result-container {
  display: flex;
  flex-direction: column; /* Lay out items in a column */
  padding: 10px; /* Add padding to the results container */
}

.result-container p {
  margin: 5px 0; /* Add margin between paragraphs */
  padding: 10px; /* Add padding to the results container */
}
